<div id="pg3">


  <div id="print-section">
    <div class="ticket ticket-1">

      <div class="date">
        <span class="day">31</span>
        <span class="month-and-time">OCT<br><span class="small">8PM</span></span>
      </div>

      <div class="artist">
        <span class="name">PRATIK KUHAD</span>
        <br>
        <span class="live small">LIVE</span>
      </div>

      <div class="location">
        <div class="user-name" style="font-size: 20px;">Name: {{data.name}}</div>
        <div class="user-name" style="font-size: 20px; ">Age : {{data.age}}</div>
        <div class="user-name" style="font-size: 20px; ">MobileNo: {{data.mobileno}}</div>
        <!-- <div class="user-name" style="font-size: 20px;">Paid!</div> -->
        <!-- <span>KINGSTON TOWN</span>
        <br>
        <span class="small">NANCY'S PUB</span> -->
      </div>

      <div class="rip">
      </div>

    </div>
  </div>
  <div class="cta" style="margin-left: 600px;">
    <button class="buy" href="#" printSectionId="print-section" ngxPrint [useExistingCss]="true">PRINT TICKET</button>
  </div>
</div>



<!-- <table id="table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th> Email</th>
      <th>Mobile No</th>
      <th> Age</th>
      <th>Sex</th>
      <th>Payment mode</th>
    </tr> -->
<!-- </table> -->
<!-- <div id="box-container"> -->
